@{
    ViewBag.Title = "Home Page";
}
@model eFocus.VRIS.Web.Models.ViewModels.OrganizationViewModel

<div class="jumbotron">
    <h1>Customize VRIS Organizations</h1>
    @using (Html.BeginForm("Save", "Home"))
    {
        <p>Select the organization: @Html.DropDownListFor(x => x.OrganizationName, Model.DropdownItems)</p>
        <p>Enter the URL for the logo: @Html.TextBoxFor(x => x.LogoUrl)</p>
        <input type="submit" value="Save" />
    }
</div>
